.calender_form {
    border: 1px solid #ccc;
    float: left;
    margin: 10px 10px 25px 0;
    padding: 10px;
    width: 95%;
}

.calender_form .row {
    float: left;
    width: 100%;
}

.calender_form .row label {
    float: left;
    font-size: 14px;
    margin: 16px 0 0 10px;
    width: 10%;
}

.calender_form .row input {
    float: left;
    margin: 10px;
    padding: 8px;
    width: 250px;
}
.calender_form .row textarea {
    float: left;
    margin: 10px;
    padding: 8px;
    width: 250px;
}

.onetarek-upload-button.button.staff_button {
    height: 35px;
    padding: 0;
    width: 115px;
}

.calender_form .row select {
    float: left;
    height: 40px;
    margin: 10px;
    padding: 8px;
    width: 250px;
}

.calender_form .row  #allocated_staff_id, .calender_form .row  #extra_task {
    height: auto;
}

.calender_form .row img {
    float: left;
    margin: 10px;
}

.staff_button {
    background: #cccccc none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    color: #000;
    cursor: pointer;
    float: left;
    margin: 10px 5px 0 0;
    padding: 5px;
    width: 100px !important;
}

.wrap fieldset {
    float: left;
    margin: 10px 30px 0 0;
    width: 100%;
}

#calendar {
    width: 100%;
	height:auto;
}

.booking_page{
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.right_side { float: right; }

.left_side {float: left;}


.option {
    border: 1px solid #ccc;
    float: left;
    margin: 81px 10px 10px 20px;
    padding: 10px;
    width: 20%;
}

.option select {
    float: left;
    margin: 3px 0 14px;
    width: 100%;
}
.option label {
    float: left;
    margin: 0 0 2px 3px;
    width: 100%;
}
#delete_booking {
    width: auto !important;
}
.wrap h2 {
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    padding: 20px 15px 15px 0;
}
.fc-center {
    margin: -20px 0 0;
    padding: 0;
}


.row > span {
    background: #ccc none repeat scroll 0 0;
    float: left;
    margin: 11px 0 10px 10px;
    padding: 5px 7px 4px 0;
}

.calender_form .row span input {
    float: left;
    margin: 3px 5px 5px;
    width: 2px;
}

.calculation {
    border: 1px solid #ccc;
    float: left;
    margin: 170px 0 0;
    padding: 0;
    width: 20%;
}


.calculation .row span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    margin: 0;
    padding: 0;
    width: 80px;
}

.calculation .row span.cal {
    float: left;
    width: 10px;
}

.calculation .row label {
    float: left;
    width: 122px;
}


.calculation .row {
    float: left;
    margin: 0 0 15px;
    padding: 10px;
    width: 100%;
}


.wrap .booking_details {
    margin: 0 10px 0 0;
    width: 75%;
}